# Enviroment variables
# .env

# Format and types
.editorconfig
.eslintrc

# Git
.gitignore
git

# Logging, tracing, monitoring
log

# Test
jest.config.ts
jest.setup.ts

# Others
node_modules
__docs__
__sql__
.vscode
tests
fake-data

# Prisma
prisma-dev
prisma